@media screen and (max-width: 820px) {

    footer {
        hr {display: none}
        .menu-item-has-children {
            &> a {
                border-bottom: none;
            }
        }
        .sub-menu {
            margin-top: 0;
            li {
                margin: 10px 0;
            }
        }

        .col {
            width: 50%;
            margin: 0;
            float: left;
            div > ul {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }

        .first-column {
            padding-left: 10px;
        }

        .social {
            top: 0px;
            left: 170px;
            position: absolute;
        }

    }
}

@media screen and (max-width: 957px) {

    .collapse-menu {
        display: none;
    }

}

@media screen and (max-width: 650px) {

  .about-us-page {
      .leadership-user {
          width: 259px;

          .users {
              margin-right: 0;
          }
      }
  }

}


@media screen and (max-width: 767px) {
    .pricing-page {
        .form-inline {
            input {
                width: 100%!important;
                border-radius: 10px;
            }
            button {
                width: 100%;
                border-radius: 10px;
            }
        }

        .table-responsive {
            tr > th {
                font-size: 23px;
            }
            margin-bottom: 100px;
            border: none;
        }

    }
}

@media screen and (max-width: 1000px) {

    .product-page {
        .main-img {
            .rectangle {
                span {
                    margin: 16% 20%;
                    font-size: 1.9vw;
                    display: inline-block;
                    color: #fff;
                }
            }
        }
    }

}