@media screen and (max-width: 1280px) {
    .blog-single {
        .main-img{
            .rectangle {
                left: 14%;
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .blog-single {

        .content {
            .user {
                margin: 108px 0 90px 100px;
            }
            .comments {
                .user {
                    margin: 108px auto 100px;
                }
            }
        }

       .social {
           top:320px;
       }
    }
}

@media screen and (max-width: 1024px) {
    .blog-single {
        .main-img{
            .rectangle {
                left: 5%;
            }
        }
    }
}

@media screen and (max-width: 1107px) {
    .pricing-page {
        .column {
            width: 340px;
            margin: auto;
            float: none;
        }
    }
}


@media screen and (max-width: 980px) {
    .blog-single {
        .main-img{
            .rectangle {
                left: 4%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .blog-single {
        .main-img{
            .rectangle {
                left: 0;
                width: 100%;
                background: none;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .pricing-page {
        .column {
            width: 320px;
        }
    }
}

@media screen and (max-width: 360px) {
    .blog-single {
        .main-img{
            .rectangle {
                background: none;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .blog-single {
        .main-img{
            .rectangle {
                .main-img-title {
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 320px) {
    .product-page {
        .main-img {
            height: 120px!important;
            .rectangle {
                width: 90%;
                background: none;
                span {
                    font-size: 15px!important;
                    margin: 5% 0!important;
                }
            }
        }
    }
    .blog-single {
        .main-img {
            .main-img-title {
                span {

                }
            }
            img {
                width: 100%;
                height: 160px;
            }
        }
    }

    footer {
        .social {
            li {
                margin-right: 20px;
            }
        }
    }


}


@media screen and (max-width: 480px){
    .product-page {
        .main-img {
            height: 155px;
            .rectangle {
                width: 85%;
                background: none;
                span {
                    font-size: 18px;
                    margin: 12% 0;
                }
            }
        }
    }
    .pricing-page  {
        .col-xs-6 {
            min-width: 315px;
            .title-casuta {
                left: 7%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .blog-index,
    .blog-single
    {
        .form-inline {
            padding: 0 0 0 5px;
            #blog-index.form-group {
                margin: 0;
                padding: 0;
                float: none;
                display: block;

                input#exampleInputEmail2 {
                    height: 45px;
                    width: 98%;
                    border-radius: 10px;
                    box-sizing: border-box!important;
                }
            }
            button.btn {
                height: 45px;
                width: 98%;
                margin: 10px 0 0 0;
                border-radius: 10px;
                box-sizing: border-box!important;
            }
        }
    }
}
@media screen and (max-width: 600px)
{

    .main-page,
    .pricing-page
    {
        .form-inline {
            padding: 0 0 0 5px;
            .form-group {
                margin: 0;
                padding: 0;
                float: none!important;
                input {
                    height: 35px;
                    width: 98%;
                    border-radius: 10px;
                    box-sizing: border-box!important;
                }
            }
            button {
                height: 35px!important;
                width: 98%!important;
                margin: 10px 0 0 0!important;
                border-radius: 10px!important;
                box-sizing: border-box!important;
            }
        }
    }

    .blog-index,
    .blog-single
    {
        .form-inline {
            padding: 0 0 0 5px;
            #blog-index.form-group {
                margin: 0;
                padding: 0;
                float: none;
                display: block;

                input#exampleInputEmail2 {
                    height: 45px;
                    width: 98%;
                    border-radius: 10px;
                    box-sizing: border-box!important;
                }
            }
            button.btn {
                height: 45px;
                width: 98%;
                margin: 10px 0 0 0;
                border-radius: 10px;
                box-sizing: border-box!important;
            }
        }
    }

    .product-page {
        .main-img {
            height: 195px;
            .rectangle {
                width: 85%;
                background: none;
                span {
                    font-size: 21px;
                    margin: 12% 0;
                }
            }
        }
    }

    .pricing-page  {
        .massage-sign-up {
            span {
                font-size: 14px;
            }
        }

        .form-inline {
            button {
                width: 100%!important;
            }
        }

        .table {
            th {
                font-size: 16px;
            }
            td {
                font-size: 16px;
            }
            .pro-cell {
                font-size: 20px!important;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .pricing-page p,
    .about-us-page p,
    .contact-us-page p
    {
        padding: 0 30px 90px;
        text-align: justify;
    }

    .main-page {
        .center-block {
            height: auto;
            background: none;
        }

        .form-inline {
            .form-group {
                display: block;
                float: left;
            }
        }
    }

    .about-us-page {
        .about-us-block2
        {
            .content-block {
                width: 100%;
            }
        }
    }

    .contact-us-page {
        .massage-sign-up {
            max-width: 95%!important;
        }


        .contact-us-block {
            .contact-data {
                .contact-email {
                    width: 100%;
                    margin: auto;
                    float: none;
                    background: none;
                    text-align: center;
                    .phone,
                    .email {
                        padding: 0;
                    }
                }
                .contact-address {
                    width: 100%;
                    margin: auto;
                    float: none;
                    background: none;
                    p {
                        margin-left: 0;
                        padding: 0;
                        text-align: center;
                        //padding: 3px 60px 0 70px;
                    }
                }
            }
        }


        form {
            width: 95%;
        }
    }
}



@media screen and (max-width: 1350px) {
    .blog-index {
        .content {
            max-width: 100%;
            margin-left: 30px;
            .block {
                &.block-title {
                    .group {
                        max-width: 67%;
                    }
                }

                &.first {
                    .group:first-child {
                        max-width: 67%;
                    }
                    .group {
                        max-width: 26%;
                    }
                }

                &.second {
                    .group {
                        max-width: 30%;
                        margin-right: 42px;
                    }
                }
                &.third {
                    .group:first-child {
                        max-width: 26%;
                    }
                    .group {
                        max-width: 67%;
                    }
                }
            }

        }
        .suggested-readings {
            max-width: 24%;
        }

        .sidebar{
           display: none;
            &.top {
                margin-bottom: 30px;
                margin-left: 30px;
                display: block;
                overflow: hidden;
                .suggested-readings {
                    max-width: 100%;
                }
            }
        }


    }
}

@media screen and (max-width: 1041px) {
    .blog-index {
        .content {
            max-width: 100%;
            margin-left: 30px;
            margin-right: 30px;
            .block {
                margin-bottom: 0;

                .group {
                    margin-bottom: 77px;
                }

                &.block-title {
                    .group {
                        max-width: 100%;
                        //img {
                        //    height: auto;
                        //}
                    }
                }

                &.first {
                    .group:first-child {
                        max-width: 100%;
                        margin-right: 0px;
                    }
                    .group {
                        max-width: 100%;
                        //img {
                        //    height: auto;
                        //}

                    }
                }

                &.second {
                    .group {
                        max-width: 100%;
                        margin-right: 0;
                        //img {
                        //    height: auto;
                        //}
                    }
                }
                &.third {
                    .group:first-child {
                        max-width: 100%;
                        margin-right: 0;
                    }
                    .group {
                        max-width: 100%;
                        //img {
                        //    height: auto;
                        //}
                    }
                }
            }

        }
        .suggested-readings {
            max-width: 100%;
            margin-right: 0;
        }

        form {
            &.form-inline {
                .form-group {
                    display: inline-block;
                    margin-bottom: 0;
                    vertical-align: middle;
                }
            }
        }


    }
}


@media screen and (max-width: 1380px) {
    .contact-us-page {

        .massage-sign-up {
            max-width: 55%;
            span {
                display: inline-block;
            }
        }

        .contact-us-block {

            .rectangle {
                display: none;
            }
        }
    }
}


@media screen and (max-width: 540px) {
    header {
        .logo {
            width: 235px;
        }
    }
}
@media screen and (max-width: 820px) {


    .product-page {
        .main-img {
            .rectangle {
                background: none;
                span {
                    //margin: 16% 0%;
                    display: inline-block;
                    color: #fff;
                }
            }
        }
    }

    footer {
        hr {top: 7px}
        .menu-item-has-children {
            &> a {
                border-bottom: 2px solid transparent;
            }
            &.current-menu-item {
                & > a {
                    border-bottom: 2px solid #390042;
                }
            }
        }
        .sub-menu {
            margin-top: 0;

            & > a {
                border-bottom: 2px solid #390042;
            }

            li {
                margin: 10px 0;
            }
        }

        .col {
            width: 50%;
            margin: 0;
            float: left;
            div > ul {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }

        .first-column {
            padding-left: 10px;
        }

        .social {
            top: 3px;
            left: 170px;
            position: absolute;
        }

    }
}

@media screen and (max-width: 957px) {
    .navbar-toggle{
        display: block;
    }

    .collapse-menu {
        display: none;
    }

    .navbar{
        min-height: 0!important;
        display: block!important;


    }
    .collapse {
        display: none;
    }


}

@media screen and (max-width: 650px) {

  .about-us-page {
      .leadership-user {
          width: 259px;

          .users {
              margin-right: 0;
          }
      }
  }

}


@media screen and (max-width: 767px) {

    .pricing-page {
        .form-inline {
            input {
                width: 100%!important;
                border-radius: 10px;
            }
            button {
                width: 100%;
                border-radius: 10px;
            }
        }

        .table-responsive {
            //tr > th {
            //    font-size: 23px;
            //}
            margin-bottom: 100px;
            border: none;
        }

    }
}

@media screen and (max-width: 1024px) {


    .about-us-page {

        .about-us-block2,
        .about-us-block
        {
            .rectangle {
                width: 100%;
                background: none;
            }
            .content-block {
                margin: 0 auto 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {


    .product-page {
        .main-img {
            .rectangle {
                background: none;
                span {
                    display: inline-block;
                    color: #fff;
                }
            }
        }
    }

}