
$max-width-screen: 100%;
$max-width-page: 1366px;
$footer-front-page-color: #8f8f8f;
$footer-page-color: #2d2d2d;


@font-face {
    font-family: Calibri;
    src: url(../meemim/font/Calibri.ttf);
}

@font-face {
    font-family: Capsuula;
    src: url(../meemim/font/Capsuula.ttf);
}

    /*Black and White plugin*/
.bwWrapper {
    position:relative;
    display:block;
}


* {
    -webkit-box-sizing: inherit!important;
    -moz-box-sizing: inherit!important;
    box-sizing: inherit!important;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: Calibri!important;
    line-height: normal;
}


body {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
    /* line-height: 1.42857143; */
    /* color: #333333; */
    /* background-color: #ffffff; */
}

.front-page {
    min-height: 100%;
    width: 100%;
    background: url("../meemim/images/homepage_main_bg.jpg") no-repeat;
    background-size: cover;
}

.navbar {
    min-height: 0!important;
    display: none;
    font-size: 17px;

    &.navbar-default {
        border: none;
    }
}

.home {
    .navbar-default {
        background-color: inherit;
    }
    .collapsing {
        background: rgba(0, 0, 0, 0.5)!important;
        ul {
            margin: 10px 0;
            list-style: none;
        }
        li {
            a {
                color: #fff;
            }
        }
    }
}

.massage-sign-up {
    height: 44px;
    width: 100%;
    background-color: #5d052a;
    position: relative;
    text-align: center;

    span {
        color: #fff;
        font-size: 17px;
        margin: 10px 0px;
        display: inline-block
    }


    .arrow-bottom {
        position: absolute;
        bottom: -10px;
        left: 50%;
        border-width: 10px 10px 0 10px;
        border-style: solid;
        border-color: #5d052a transparent transparent transparent;
    }

    &:before {
        top: 0;
        left: 0;
        height: 44px;
        width: 35px;
        position: absolute;
        content: "";
        background: url("../meemim/images/left-corner-btn.png") no-repeat;
        display: block;
    }
    &:after {
        right: 0;
        top: 0;
        height: inherit;
        width: 35px;
        position: absolute;
        content: "";
        background: url("../meemim/images/right-corner-btn.png") no-repeat;
        display: block;
    }
}


.collapsing {
    ul {
        margin: 10px 0!important;
        list-style: none;
    }
    li {
        a {
            color: #fff;
        }
    }
}



.collapse {
    background: none!important;
    text-decoration: none;

    &.home-page {
        color: #fff;
        background: rgba(0, 0, 0, 0.5)!important;

        #menu-top-menu li {
            a:hover {
                background-color: #F2B229;
                text-decoration: none;
            }
        }
        ul {
            margin: 10px 0;
        }

        li {
            a {
                color: #fff;
            }
        }
    }


    ul {
        margin: 10px 0;
    }
    li {

        a {
            width: 80px;
            padding: 5px 0;
            text-align: center;
            text-decoration: none;
            color: #5d052a;
            font-family: Calibri;
            font-size: 17px;
            font-weight: 500;
            border-radius: 3px;
        }

        a:hover {
            color: inherit;
            text-decoration: none;
        }
        margin-right: 5px;
        list-style: none;
    }
}

header {
    max-width: $max-width-screen;
    height: 112px;
    margin: auto;


    .navbar-toggle {
        top:42px;
        position: relative;
        float: right;
        margin-right: 15px;
        padding: 9px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #93AC3C;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .navbar-toggle .icon-bar {
        background-color: #6f6f6f;
    }

    .navbar-collapse {
        display: none;
    }

    .logo,
    .main-navigation
    {
        float: left;
        width: 468px;
        height: 112px;
        background-size: cover;
    }
    .logo a {
        margin: 40px 0 0 57px;
        display: inline-block;
    }

    .main-navigation {
        width: 444px;
        float: right;
    }


    &.home-page {

        #menu-top-menu li {
            a:hover {
                background-color: #F2B229;
                text-decoration: none;
            }
        }

        .logo {
            background: url("../meemim/images/bg_logo.png") no-repeat;
        }
        .main-navigation {
            background: url("../meemim/images/bg_menu.png") no-repeat;
        }

        li {
            a {
                color: #fff;
            }
        }
    }

    li a {
        width: 80px;
        padding: 5px 0;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: #5d052a;
        font-family: Calibri;
        font-size: 17px;
        font-weight: 500;
        border-radius: 3px;
    }

    #menu-top-menu {
        margin: 39px 0 0 67px;
        padding: 0;
        display: inline-flex;

        li {
            margin-right: 5px;
            list-style: none;

            a:hover {
                color: #fff;
                background-color: #F2B229;
                text-decoration: none;
            }
            a:active {
                color: #fff;
                background-color: #F2B229;
                text-decoration: none;
            }
            &:last-child {
                a{
                    background-color: #94ad3c;
                    color: #fff;
                }
                a:hover{
                    background-color: #94ad3c;
                    text-decoration: none;
                }
            }
        }


    }
}

.wrapper {
    max-width: 100%;
    margin: auto;
    &.home-page {
        //min-height: calc(100vh - 280px);
        //min-height: 100vh;
        //height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .legal-page {}
}

footer{
    max-width: $max-width-screen;
    margin: auto;
    padding-bottom: 19px;
    //top: 0;
    position: relative;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    hr {
        top: 14px;
        left: 0;
        width: 100%;
        position: absolute;
        border-top: 1px solid;
        color: #727272;
    }

    .bg {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #000;
        opacity: 0.6;
        z-index: 2;
    }
    .left-side {
        position: relative;
        z-index: 2;
    }

    &.home-page {
        //top:115px;


        .left-side ul li > a,
        .left-side ul > li {
            color:$footer-front-page-color
        }

        &.animation-top {
            //top:0;
            //transition: top 500ms ease-out 0s;
        }

        &.animation-bottom {
            //top:115px;
            //transition: top 500ms ease-out 0s;
        }

        .first-row {
            border-bottom: 1px solid #212121;
        }
        .social {
            a {
                color: #8f8f8f;
            }
        }
    }
    .first-row {
        padding-left: 57px;
        border-bottom: 1px solid #727272;

        ul {
            margin: 19px 0 9px 0;
            display: inline-flex;
        }
    }

    .left-side ul > li {
        list-style: none;
    }

    .left-side ul { padding: 0}
    .left-side ul li > a,
    .left-side ul > li
    {
        font-size: 17px;
        font-family: Calibri;
        text-decoration: none;
    }


    .left-side ul li > ul > li > a
    {
        color: #4e4e4e
    }
    .left-side ul li > a,
    .left-side ul > li
    {
        color:$footer-page-color
    }


    .first-row ul {padding: 0}
    .first-row ul li {
        padding: 0;
        margin-right: 72px;
    }
    .first-row ul li:nth-child(2){
        margin-right: 105px;
    }

    .first-column { padding-left: 57px}
    .first-column,
    .second-column,
    .third-column
    {
        margin-top: 7px;
        margin-right: 72px;
        float: left;
    }

    .fourth-column {
        float: right;
        margin-top: 7px;
        margin-right: 148px;
    }
    .menu-item-has-children {

        &.current-menu-item {
            & > a {
                border-bottom: 7px solid transparent;
            }
        }
        &>a {
            display: inline-block;
            border-bottom: 7px solid transparent;
        }
        >a:hover{
            border-bottom: 7px solid #5d052a;
        }
    }

    .sub-menu {
        margin-top: 5px;
        .current-menu-item {
            & > a {
                border-bottom: none;
            }
        }
        li {
            >a:hover {
                border-bottom: 2px solid #5d052a;
            }
        }
    }
    .social {
        top:5px;
        right: 35px;
        position: absolute;
        li {
            margin-right: 25px;
            float: left;
            a {
                color: #2d2f2e;
            }
        }
    }

}
.front-page-footer {
    background-color: #000;
    opacity: 0.3;
}
.main-page {
    max-width: $max-width-screen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .center-block {
        width: 100%;
        height: 218px;
        max-width: $max-width-screen;
        margin: auto;
        background: url("../meemim/images/bg_main_block.png") no-repeat center;
        background-size: cover;
        text-align: center;

        .title-block {
            width: 100%;
            padding: 20px 0px;
            display: inline-block;
            font-size: 40px;
            font-family: Capsuula;
            color: #fff;
        }

        .content-block {
            max-width: 360px;
            padding: 21px 0;
            display: inline-block;
            font-size: 20px;
            color: #cacaca;
            line-height: normal;
        }
    }
    .form-sing-up {
        width: 100%;
        height: 200px;
        background: rgba(0, 0, 0, 0.4);

        .wrapper-block {
            padding: 0 36px;
            .massage-sign-up {
                max-width: 393px;
                height: 36px;
                margin: auto;
                position: relative;

                &:before {
                    left: -35px;
                    background: url("../meemim/images/corner_left_color.png") no-repeat;
                }
                &:after {
                    right: -36px;
                    width: 40px;
                    background: url("../meemim/images/corner_right_color.png") no-repeat;
                }

                span {
                    color: #b5b5b5;
                    font-size: 20px;
                    line-height: 15px;
                }

            }
        }


        form {
            max-width: 372px;
            margin: 13px auto 0;

            .form-control:focus {
                border-color: #d8d8d8;
                box-shadow: none;
            }

            input {
                width: 258px;
                height: 33px;
                padding: 0 12px;
                border-radius: 8px 0 0 8px;
                border-color: #d8d8d8;
                background-color: #d8d8d8;
                font-size: 17px;
                color: #000;
            }

            button {
                height: 35px;
                width: 63px;
                margin-left: -3px;
                padding: 0 12px;
                border: none;
                background-color: #5d052a;
                border-radius: 0 8px 8px 0;
                cursor: pointer;
                font-size: 17px;
                color: #fff;

                &.btn-default:hover {
                    color: #fff;
                    background-color: #5d052a;
                    border: none;
                }

                &.btn:hover, .btn:focus, .btn.focus {
                    text-decoration: none;
                }
            }
        }
    }
}

//other pages

.main-heading-title {
    max-width: $max-width-screen;
    margin: 60px auto 0;
    text-align: center;

    h1 {
        font-family: Capsuula;
        font-size: 40px;
        font-weight: normal;
        color: #6d6d6d;
        text-transform: uppercase;
    }
  p {
    max-width: 369px;
    margin: 22px auto 0;
    color: #707070;
    font-size: 23px;
  }
}

.static-page {
    max-width: 933px;
    margin: 75px auto 150px;
    color: #515151;

    h3 {
        margin-bottom: 27px;
        font-size: 30px;
        font-weight: normal;
    }

    p {
        font-size: 23px;
    }
}

.about-us-page {
    max-width: 100%;
    margin: 65px auto 150px;
    color: #484848;
    > p {
        max-width: $max-width-page;
        margin: auto;
    }

    p {
        font-size: 23px;
        padding: 0px 130px;
        text-align: center;
    }


    .leadership-user {

        //width: 626px;
        margin: 150px auto 0;
        text-align: center;

        &:after {
            content: ' ';
            clear: both;
            display: block;
        }
        .users {
            max-width: 258px;
            margin-right: 55px;
            display: inline-block;
            //float: left;

            img {
                width: 100%;
                height: auto;
            }
        }

        .users-name{
            font-size: 26px;
            text-align: center;
        }
        .users-data{
            font-size: 13px;
            text-align: center;
        }
    }

    .about-us-block,
    .about-us-block2{
        margin: 108px 0 0 0;
        max-width: $max-width-screen;
        height: 376px;
        background: url("../meemim/images/about-us-img1.png") no-repeat;
        background-size: cover;

        .rectangle {
            margin: 0 auto 146px;
            max-width: 737px;
            height: 230px;
            background: url("../meemim/images/rectangele.png") no-repeat;
            background-size: cover;
            text-align: center;

            span {
                margin: 17% 0 0% 0;
                font-family: Capsuula;
                font-size: 40px;
                text-transform: uppercase;
                display: inline-block;
                color: #fff;
            }
        }
    }
    .about-us-block2 {
        height: 453px;
        background: url("../meemim/images/about-us-img2.jpg") no-repeat;
        background-size: cover;

        .rectangle {
            width: 70%;
            margin: auto;
            background-size: contain;
            font-size: 100%;
        }

        .content-block {
            font-size: 20px;
            color: #cacaca;
            margin: 56px auto 0;
            width: 393px;
            text-align: center;
        }
    }
}


.contact-us-page {
    $max-width-page: 1366px;
    max-width: $max-width-page;
    margin: 65px auto 150px;
    color: #484848;

    p {
        font-size: 23px;
        padding: 0px 130px;
        text-align: center;
    }
    .contact-us-block {
        max-width: $max-width-screen;
        height:278px;
        margin: 90px 0 0 0;
        position: relative;
        background: url("../meemim/images/about-us-img2.jpg") no-repeat;
        background-size: cover;
        overflow: hidden;


        .rectangle {
            left: 4px;
            top: -4px;
            max-width: 35%;
            height: 131px;
            margin: auto;
            position: relative;
            background: url("../meemim/images/rectangele-about-us.png");
            background-size: contain;

            &:after {
                content: '';
                top: 0;
                width: 100px;
                height: 126px;
                margin: 0 0 0 -72px;
                background: url("../meemim/images/corner-left-about-us.png") no-repeat;
                background-size: contain;
                position: absolute;
            }
            &:before {
                content: '';
                top: 0;
                right: 0;
                width: 100px;
                height: 126px;
                margin: 0 -100px 0 0;
                background: url("../meemim/images/corner-right-about-us.png") no-repeat;
                background-size: contain;
                position: absolute;
            }


            p {
                padding: 35px 80px;
                color: #fff;
                font-size: 23px;
            }
        }

        .contact-data {
            padding-top: 60px;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            .contact-email {
                width: 387px;
                height: 87px;
                float: left;
                background: url("../meemim/images/rectangele2.png") no-repeat;
                color: #fff;

                .email {
                    padding: 0 40px;
                    text-decoration: none;
                    font-size: 22px;
                    color: inherit;
                }
                .phone {
                    padding: 0 40px;
                    display: inherit;
                    font-family: Capsuula;
                    font-size: 40px;
                }
            }
            .contact-address {
                width: 354px;
                height: 87px;
                padding: 2px 0;
                float: right;
                background: url("../meemim/images/rectangele3.png") no-repeat;
                p {
                    margin: 0 0 0 126px;
                    padding: 0;
                    //padding: 3px 60px 0 140px;
                    color: #fff;
                    font-size: 20px;
                    text-align: left;
                }
            }
        }

    }

    .massage-sign-up {
        max-width: 474px;
        margin: 0  auto 40px;
        span {
            display: none;
        }
    }


    form {
        width: 50%;
        margin: auto;
        box-sizing: border-box!important;

        label {
            margin-bottom: 0;
            color: #6e6e6e;
            font-size: 22px;
            font-weight: normal;
        }

        textarea {
            &.form-control {
                height: auto;
            }
        }
        .form-control {
            height:42px;
            border: 1px solid #6e6e6e;
            border-radius: 9px;
            font-size: 20px;
        }

        .form-control:focus {
            border-color: #6e6e6e;
            box-shadow: none;
        }

        button {
            margin: 10px 0 0 10px;
            padding: 3px 23px;
            border: none;
            border-radius: 9px;
            background-color: #5d052a;
            color: #dacfd3;
            font-size: 20px;

            &.btn-default:hover {
                color: #dacfd3;
                 background-color: #5d052a;
                 border: none;
            }

            &.btn:hover, .btn:focus, .btn.focus {
                 text-decoration: none;
            }

        }
    }
}

.pricing-page {

    max-width: $max-width-page;
    margin: auto;
    p {
        font-size: 23px;
        padding: 0px 130px 90px;
        text-align: center;
    }

    h1 {
        margin: 56px 0 65px 0;
        font-family: Capsuula;
        font-size: 40px;
        font-weight: normal;
        color: #6d6d6d;
        text-transform: uppercase;
    }

    .column {
        width: 29%;
        margin: 0 23px;
        float: left ;
        position: relative;
        .title-casuta {
            top: 23px;
            margin: auto;
            width: 270px;
            height: 36px;
            background: url("../meemim/images/title_casuta_bg.png") no-repeat;
            text-align: center;
            position: relative;

            span {
                margin: 6px 0;
                font-size: 23px;
                line-height: 42px;
                color: #fff;
            }
        }
        .casuta {
            width: 100%;
            height: 195px;
            margin: 23px 0;
            border: 1px solid #a1a1a1;
            border-radius: 8px;
            position: relative;
            text-align: center;


            &.hover,
            &.selected
            {
                height: 250px;
                transition: height 500ms ease-out 0s;

                .text1 {
                    padding: 10% 30px 0 30px;
                    transition: padding 500ms ease-out 0s;
                }
                .text2 {
                    padding: 4% 30px 0 30px;
                    transition: padding 500ms ease-out 0s;
                }

                .text3 {
                    padding: 7% 60px;
                    transition: padding 500ms ease-out 0s;
                }
            }

            &.over,
            &.selected-none
            {
                height: 195px;
                transition: height 500ms ease-out 0s;
                .text1 {
                    transition: padding 500ms ease-out 0s;
                    padding: 16px 30px 0 30px;
                }
                .text2 {
                    transition: padding 500ms ease-out 0s;
                    padding: 8px 30px 0 30px;
                }
                .text3 {
                    transition: padding 500ms ease-out 0s;
                    padding: 11px 60px;
                }

            }


            span {
                display: inline-block;
            }

            .text1 {
                padding: 16px 30px 0 30px;
                font-size: 18px;
                color: #484848;
            }
            .text2 {
                padding: 8px 30px 0 30px;
                line-height: 43px;
                font-size: 47px;
                text-transform: uppercase;
                color: #5d052a;
            }
            .text3 {
                padding: 11px 60px;
                font-size: 13px;
                color: #484848;
            }
        }
    }

    table {
        width: 95%;
        margin: 115px 2%;
        .pro-cell {
            font-size: 32px!important;
            color: #5d052a;
        }
        .first-cell {
            padding: 20px 0 0 0;
            font-size: 23px;
            border-top: none!important;
            border-bottom: 1px dashed #a5a5a5;
        }

        tr > th {
            padding: 5px 0 0 0!important;
            font-size: 23px;
            font-weight: normal;
            border-bottom: none!important;
        }
        tr > td:not(.first-cell) {
            text-align: center;
            font-size: 18px;
            border-top: none;
            border-bottom: 1px dashed #a5a5a5;
            vertical-align: inherit;
        }
        .corner {
            background: url("../meemim/images/corner_left_casuta.png") no-repeat;
        }

        .bg-table {
            position: relative;
            text-align: center;
            background-color: #94ad3c;
            color: #fff;

            &:last-child span {
                margin-right: 20px;
                display: inline-block;
            }

            .corner-lf,
            .corner-rt {
                width: 38px;
                height: 100%;
                top: 0;
                position: absolute;
            }

            .corner-lf {
                left: 0;
                background: url("../meemim/images/corner_left_casuta.png") no-repeat;
            }
            .corner-rt {
                right: 0px;
                background: url("../meemim/images/corner_right_casuta.png") no-repeat -4px 0;
            }
        }
    }
}

.legal-page {
    max-width: $max-width-page;
    margin: auto;
    h1, h3 {
        margin: 56px 0 45px 0;
        font-family: Capsuula;
        font-size: 40px;
        font-weight: normal;
        color: #6d6d6d;
        text-transform: uppercase;
    }

    h3 {
        max-width: 960px;
        margin: 56px auto 20px;
        padding: 0 60px 0 0px;
    }

    .policies {
        max-width: 960px;
        margin: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 30px 30px 20px;
        margin: 0 auto 50px;
        position: relative;
        border: 1px solid #e8e8e8
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            a {
                margin-bottom: 5px;
                padding: 8px 10px;
                border: 1px solid transparent;
                font-size: 25px;
                font-weight: bold;
                color: #555459;
                display: block;
                position: relative;
                span {
                    top: 9px;
                    right: 0;
                    font-size: 25px;
                    font-weight: normal;
                    position: absolute;
                    color: #e8e8e8;
                }
                &:hover {
                    background: #fbfbfa;
                    border-radius: 4px;
                    border-color: #e8e8e8;
                    text-decoration: none;
                    span {
                        color: #555459;
                    }
                }

            }
        }
    }
}

.main-img {
    max-width: 100%;
    height: 453px;
    margin: auto;
    background: url("../meemim/images/about-us-img2.jpg") no-repeat center;
    background-size: cover;

    .rectangle {
        max-width: 737px;
        height: 230px;
        width: 70%;
        margin: auto;
        background: url("../meemim/images/rectangele.png") no-repeat;
        background-size: contain;
        font-size: 100%;
        text-align: center;

        span {
            margin: 16% 20%;
            font-size: 21px;
            display: inline-block;
            color: #fff;
        }
    }
}

.product-page {
    max-width: $max-width-page;
    margin: auto;

    .massage-sign-up {
        max-width: 880px;
        margin: 100px auto 0;
    }
    .form-inline {
        margin-bottom: 100px;
    }

    p {
        font-size: 23px;
        padding: 0px 130px 90px;
        text-align: center;
    }

    h1 {
        margin: 56px 0 45px 0;
        font-family: Capsuula;
        font-size: 40px;
        font-weight: normal;
        color: #6d6d6d;
        text-transform: uppercase;
    }

    .row {
        padding: 115px 0 100px;
        border-bottom: 1px solid #a8a8a8;

        &.even {
            h1 {
                text-align: right;
            }
        }

        h1 {
            color: #6d6d6d;
            font-family: Calibri;
            font-size: 40px;
            font-weight: 500;
            text-transform: none;
        }
        img {
            width: 100%;
        }
        p {
            color: #4a4a4a;
            padding: 0;
            text-align: justify;
        }
    }
}

.blog-index {
    max-width: $max-width-page;
    margin: 80px auto ;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .sidebar{
        margin-left: 58px;
        float: left;
        &.top {
            display: none;
            float: none;
        }

    }


    .suggested-readings {
        max-width: 248px;
        margin-right: 60px;
        float: left;


        h3 {
            margin-top: 0;
            font-size: 40px;
            color: #6d6d6d;
        }
        p {
            font-size: 20px;
            color: #707070;
        }

        .title {
            margin-top: 20px;
            font-size: 26px;
            font-weight: bold;
        }
        .date {
            font-size: 26px;
        }
    }

    .content {
        max-width: 970px;
        margin-left: 92px;
        float: left;




        .block {
            margin-bottom: 77px;

            &:after {
              content: '';
              display: block;
              clear: both;
            }
            &.first {
                  .group:first-child {
                    max-width: 567px;
                    margin-right: 47px;
                  }
                  .group {
                    max-width: 264px;
                    img {
                      height: 282px;
                    }
                  }
            }

        &.second {
          .group:last-child {
            margin-right: 0;
          }
          .group {
            max-width: 258px;
            margin-right: 52px;
            img {
              height: 282px;
            }
          }
        }
        &.third {
          .group:first-child {
            max-width: 264px;
            margin-right: 47px;
          }
          .group {
            max-width: 567px;
            img {
              height: 282px;
            }
          }
        }

        &.block-title {

          .group {
            max-width: 568px;
            img {
              height: 286px;
            }
          }
        }
        .group {
            float: left;
            position: relative;


            .social {
                margin-top: 17px;
                margin-right: 10px;
                float: right;
                .theChampSharingRound {
                    margin-left: 15px!important;
                    .the_champ_share_count {
                        top: -5px;
                        left: 17px;
                        margin: 0!important;
                        padding: 0!important;
                        color: #000!important;
                        position: absolute;
                        font-family: Calibri!important;
                        font-size: 12px!important;
                        font-weight: normal!important;
                        box-shadow: none;
                        text-shadow: none;
                        background-color: transparent!important;
                    }
                    .theChampSharing {
                        background-color: transparent;
                        ss {
                            font-size: 16px;
                            color: #000;
                            background: none;
                            &:hover {
                                color: #5d052a;
                                text-decoration: none;
                            }

                        }
                    }
                }
                ul {
                    margin-bottom: 0;
                    list-style: none;
                    li{
                        margin-right: 14px;
                        display: inline-block;
                        position: relative;

                        .posted{
                            top: -5px;
                            left: 20px;
                            position: absolute;
                            font-size: 14px;
                        }
                        a {
                            font-size: 16px;
                            color: #000;
                            &:hover {
                                color: #5d052a;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .featured {
                left: 20%;
                padding: 0 20px;
                position: absolute;
                font-size: 24px;
                color: #fff;
                background-color: #5d052a;
                background-size: cover;
                cursor: pointer;
                z-index: 1;

                &:after {
                    right: -38px;
                    top: 0;
                    width: 39px;
                    height: 36px;
                    content: '';
                    position: absolute;
                    background: url("../meemim/images/corner_right_color.png") no-repeat -7px 0px;
                    background-size: contain;
                }
                &:before {
                    left: -34px;
                    top: 0;
                    width: 36px;
                    height: 34px;
                    content: '';
                    position: absolute;
                    background: url("../meemim/images/corner_left_color.png") no-repeat;
                    background-size: contain;
                }
            }
            img {
                width: 100%;
                border-radius: 8px;
            }
          .title {
              margin-top: 20px;
              font-size: 26px;
              font-weight: bold;
              a {
                  color: #3c3c3c;
                  &:hover {
                      text-decoration: none!important;
                  }
              }
          }
          .date {
            font-size: 26px;
          }
          .share {
            margin: 8px 0 0 0;
            font-size: 13px;
            border-top: 1px solid #000;
            color: #484848;

            &:after {
              content: '';
              display: block;
              clear: both;
            }
            .days-ago {
              margin: 24px 0 0 0;
              text-transform: uppercase;
              float: left;
            }
            button{
              margin: 10px 0px 0px 10px;
              padding: 2px 19px;
              border: medium none;
              border-radius: 5px;
              background-color: #5D052A;
              color: #fff;
              font-size: 18px;
              float: right;
            }
          }
        }

      }
    }
}

.blog-index,
.blog-single,
.pricing-page,
.product-page
{
    form {
        max-width: 413px;
        margin: 28px auto 0;

        .form-control:focus {
            border-color: #5d052a;
            box-shadow: none;
        }

        input#exampleInputEmail2 {
            width: 278px;
            height: 31px;
            border-radius: 13px 0 0 13px;
            border-color: #5d052a;
            font-size: 17px;
            color: #4b4949;
        }

        button {
            height: 33px;
            width: 83px;
            margin-left: -3px;
            border: none;
            background-color: #5d052a;
            border-radius: 0px 10px 10px 0px;
            cursor: pointer;
            font-size: 17px;
            color: #fff;

            &.btn-default:hover {
                color: #fff;
                background-color: #5d052a;
                border: none;
            }

            &.btn:hover, .btn:focus, .btn.focus {
                text-decoration: none;
            }
        }
    }
}




.pagination-blog {
    margin: 20px 0 57px 0;
    display: block!important;
    text-align: right;
    ul {
        list-style: none;
        li {
            margin-right: 14px;
            display: inline-block;
            a {
                font-size: 18px;
                color: #cacaca;
                &:hover {
                    text-decoration: none;
                }
                &.active {
                    border-bottom: 3px solid #5d052a
                }
                &.more {

                }
            }
        }
    }
}

.blog-single {
    position: relative;
    .content {
        max-width: 916px;
        margin: auto;

        .user {
            margin: 108px auto 90px;
            text-align: center;

            &.written-by {
                margin: 88px auto 53px;
                span {
                    margin-right: 12px;
                    font-size: 23px;
                }
            }

            img {
                margin-right: 24px;
                border-radius: 4px;
            }
            .block-user{
               vertical-align: middle;
                display: inline-block;
                &:after {
                    content: '';
                    clear: both;
                    display: block;
                }

                .user-name,
                .user-data {
                    text-align: left;
                    color: #414141;
                }

                .user-name {
                    font-size: 23px;
                }
                .user-data {
                    font-size: 18px;
                }
            }

        }
        h1, h2, h3 {
            font-size: 47px;
            font-weight: bold ;
            color: #3c3c3c;
        }
        h2,h3 {
            font-size: 37px;
        }
        p {
            font-size: 23px;
            color: #4a4a4a;
        }

        .massage-sign-up {
            margin-top: 104px;
        }
    }


    .main-img-post {
        display: block;
        margin-top: 70px;
        text-align: center;

        .img-block {
            position: relative;
            img {
                height: auto;
                max-width: 100%;
                min-height: 279px;
            }
        }


        .rectangle {
            top: 0;
            left: 50%;
            width: 912px;
            margin-left: -456px;
            padding: 92px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("../meemim/images/rectangele4.png") no-repeat;
            background-size: cover;
            position: absolute;
            .main-img-title {
                max-width: 760px;
                margin: auto;
                color: #fff;
                text-align: center;
                span {
                    &:first-child {
                        //font-weight: bold;
                    }
                    display: inline-block;
                    font-size: 34px;
                }
            }
        }

    }
    .title-form {
        margin-top: 100px;
        font-size: 21px!important;
        font-weight: normal;
        color: #414141!important;
        text-align: center;
    }
    #comments {
        box-sizing: border-box!important;
        #respond {
            h3 {
                display: none;
            }
            form {
                max-width: 100%;
                margin: 0 auto 0;
                .logged-in-as {
                    display: none;
                }
                .comment-form-comment {
                    label {
                        display: none;
                    }
                    textarea {
                        width: 100%;
                        padding: 6px 12px;
                        border-radius: 8px;
                        border-color: #828282;
                        outline: none;
                    }
                }
                .form-submit {
                    text-align: right;
                    input[type='submit'] {
                        padding: 3px 23px;
                        color: #fff;
                        background-color: #5d052a;
                        border-radius: 4px;
                        border: none;
                        font-size: 18px;
                    }
                }
            }
        }

        .comment-list {
            margin-bottom: 130px;
            padding: 0;
            list-style: none;

            li {
                p {
                    margin-left: 76px;
                    font-size: 16px;
                }
            }

            .children {
                list-style: none;
            }
            .commentmetadata {
                display: none;
            }

            .comment-author {
                img {
                    width: 57px;
                    height: 63px;
                    margin-right: 16px;
                    border-radius: 5px;
                    //float: left;
                }
                .fn {
                    font-size: 23px;
                    text-align: left;
                    color: #414141;
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
                .says {
                    display: none;
                }
            }
        }
    }


    form {
        &.set-comments {
            max-width: 100%;
            margin-top: 100px;
            box-sizing: border-box!important;
            .form-group {
                margin-bottom: 3px;
                text-align: center;
            }
            label {
                font-size: 21px;
                font-weight: normal;
                color: #414141;
            }
            textarea {
                border-radius: 8px;
                border-color: #828282;
            }
            ul {
                margin-left: 5px;
                margin-bottom: 0;
                padding-left: 0;
                list-style: none;
                li {
                    display: inline-block;
                    &:last-of-type {
                        a {
                            border-right: 0;
                        }

                    }
                    a {
                        padding: 0 5px;
                        border-right: 1px solid;
                        font-size: 17px;
                        color: #414141;
                    }
                }
            }
        }
    }

    .comments {
        .user {
            margin: 40px 0 130px 0;
            text-align: left;
            img {
                width: 57px;
                height: 63px;
                margin-right: 18px;
                border-radius: 5px;
                float: left;
            }
            .block-user {
                .user-name {
                    font-size: 23px;
                }
                .user-data {
                    max-width: 830px;
                    font-size: 16px;
                }
            }
        }

        &:after {
            content: '';
            display: block;
            clear: both;
        }


        .user-avatar {
            float: left;

        }
        .block-user {
            color: #414141;
            .user-nick {
                font-size: 23px;
            }
            .user-comment {
                font-size: 16px;
            }
        }
    }
}



.social-blog-single {
    top: 900px;
    position: absolute;

    .the_champ_sharing_container {
        position: static !important;
        margin-left: 28px;
        width: 10px!important;
        > div {
            display: none;
        }

        .the_champ_sharing_ul {
            margin-bottom: 0;
            list-style: none;

            li {
                margin-bottom: 32px!important;
                margin-right: 14px!important;
                position: relative;
                & > ss {
                    top: -8px;
                    left: 20px;
                    margin: 0!important;
                    padding: 0!important;
                    color: #000!important;
                    position: absolute;
                    font-family: Calibri!important;
                    font-size: 12px!important;
                    font-weight: normal!important;
                    box-shadow: none;
                    text-shadow: none;
                    background-color: transparent!important;
                }

                .posted{
                    top: -5px;
                    left: 20px;
                    position: absolute;
                    font-size: 14px;
                }
                a {
                    font-size: 16px;
                    color: #000;
                    &:hover {
                        color: #5d052a;
                        text-decoration: none;
                    }
                }
            }
            &:first-child {
                border-bottom: 1px solid ;
                li {
                    margin-bottom: 15px;
                }
            }
            &:last-child {
                li:first-child {
                    margin-top: 15px;
                }
            }
            .the_champ_share_count {
                top: -5px;
                left: 20px;
                margin: 0!important;
                padding: 0!important;
                color: #000!important;
                position: absolute;
                font-family: Calibri!important;
                font-size: 14px!important;
                font-weight: normal!important;
                box-shadow: none;
                text-shadow: none;
                background-color: transparent!important;
                visibility: visible;
            }
            .theChampSharing {
                background-color: #fff!important;
                ss {
                    font-size: 16px;
                    color: #000;
                    background: none;
                    &:hover {
                        color: #5d052a;
                        text-decoration: none;
                    }

                }
            }
        }
    }

    ul {
        &:first-child {
            border-bottom: 1px solid ;
            li {
                margin-bottom: 15px;
            }
        }
    }
    ul {
        &:last-child {
            li:first-child {
                margin-top: 15px;
            }
        }
    }
    ul {
        margin-bottom: 0;
        list-style: none;
        li{
            margin-bottom: 30px;
            margin-right: 14px;
            position: relative;

            .posted{
                top: -5px;
                left: 20px;
                position: absolute;
                font-size: 14px;
            }
            a {
                font-size: 16px;
                color: #000;
                text-decoration: none;
                &:hover {
                    color: #5d052a;
                    text-decoration: none;
                }
                &:active {
                    text-decoration: none;
                }
            }
        }
    }
}

